.ant-modal .ant-modal-content .ant-modal-header {
  text-align: center;
}

.padding-sm .ant-modal-content {
  padding: 20px;
}
.padding-md .ant-modal-content {
  padding: 40px 80px;
}
.padding-lg .ant-modal-content {
  padding: 60px 80px;
}
